<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
		<!--<class name="com.scala.autoTest.reportTest">
				<methods>
					<include name="test1"></include>
					<include name="test2"></include>
				</methods>
			</class>
			<class name="com.scala.autoTest.extentReport">
				<methods>
					<include name="test1"></include>
					<include name="test2"></include>
					<include name="test3"></include>
					<include name="getAPITest"></include>
				</methods>
			</class>
			<class name="com.scala.autoTest.GetApiTest">
			</class>
			<class name="com.scala.autoTest.PostApiTest">
			</class>-->
			<!--<class name="com.scala.autoTest.test.PostApiTest">
			</class>-->
			<class name="com.scala.autoTest.test.reportTest">
				<methods>
					<include name="testcase1"></include>
					<include name="testcase2"></include>
					<include name="test3"></include>
					<include name="getAPITest"></include>
				</methods>
			</class>
			<!--<class name="com.scala.autoTest.test.extentReport">
				<methods>
					<include name="test1"></include>
					<include name="test2"></include>
					<include name="test3"></include>
					<include name="getAPITest"></include>
				</methods>
			</class>-->
		</classes>
	</test>

	<listeners>
		<listener class-name="com.scala.autoTest.base.ExtentTestNGIReporterListener" />
	</listeners>
</suite>
